body { padding-top: 60px; }

/*SECCION NAVBAR*/
.navbar {
    background-color: rgb(117, 171, 195);
    height: 60px;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1 !important;
  }
  
  .navbar a {
    color: rgb(8, 5, 0);
    display: block;
    float: left;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
  }
  
  .navbar a:hover {
    color: rgb(14, 43, 55);
    text-decoration: none;
  }
  
.navbar h2{
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
}
.navbar h3{
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
}
.navbar h4{ 
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
}
.navbar h5{ 
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
}
.navbar h6{ 
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
}
.navbar h7{ 
  font-size: 25px;
  font-family: Helvetica, Arial, sans-serif;
}


/* SECCION CLASES*/

#clases {
  background-color: rgb(154, 183, 195);
  height:650px;
  width: 100%;
}

#clases h3 {
  color: rgb(8, 5, 0) ;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:white;
  float:left;
  margin-left: 160px;
  max-width: 300px;
  text-align: center;
  width: 100%;
}

button {
  background-color: rgb(79, 79, 80);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}

a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

button:hover,
a:hover {
  opacity: 0.7;
}
/*SECCION FOOTER*/

footer {
  background-color: rgb(43, 52, 56);
  bottom: 0px;
  color: white;
  position: relative;
}

footer h1 {
  margin-left: 10px;
  padding: 10px;
}

footer h2 {
  padding: 10px;
}

footer p {
  padding:10px;
}