body { padding-top: 60px; }

/*SECCION NAVBAR*/
.navbar {
    background-color: rgb(130, 179, 200);
    height: 60px;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1 !important;
  }
  
  .navbar a {
    color: rgb(8, 5, 0);
    display: block;
    float: left;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: rgb(21, 101, 150);
    text-decoration: none;
  }
  
h2{
    font-size: 10px;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(97, 163, 177);
  }

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }