ody { padding-top: 60px; }

/*SECCION NAVBAR*/
.navbar {
    background-color: rgb(126, 170, 208);
    height: 60px;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1 !important;
  }
  
.navbar a {
    color: rgb(8, 5, 0);
    display: block;
    float: left;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
  }
  
.navbar a:hover {
    color: rgb(167, 205, 222);
    text-decoration: none;
  }
  
.navbar h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar h3{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h4{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h5{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h6{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h7{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
/*SECCION INTRO*/
#intro h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}

#intro img{ 
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

#intro p{
    padding: 15px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#intro{
    background-color: azure;
}

/*SECCION CLASES*/

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color:rgb(168, 190, 210);
    height: 170px;
    align-items:center;
  }

.flex-container h1{
    font-size: 30px;
    text-align: center;
    color: rgb(93, 131, 168);
    font-family: 'Times New Roman', Times, serif;
}
.flex-container h2{
    font-size: 30px;
    color: rgb(93, 131, 168);
    font-family: 'Times New Roman', Times, serif;
}
.flex-container h3{
    font-size: 30px;
    color: rgb(93, 131, 168);
    font-family: 'Times New Roman', Times, serif;
}

#b1{
    background-color: rgb(212, 225, 237);
}
#b1 h1{
    font-size: 25px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#b1 h2{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
#b1 h3{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
#b1 h4{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
    
#b2{
    background-color: rgb(212, 225, 237);
}
#b2 h1{
    font-size: 25px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#b2 h2{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
#b2 h3{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
#b2 h4{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}

#b3{
    background-color: rgb(212, 225, 237);
}
#b3 h1{
    font-size: 25px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#b3 h2{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
#b3 h3{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}
#b3 h4{
    font-size: 20px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
}

/*SECCION DIRECTORAS*/
#directoras{
    background-color: azure;
    width: 100%;

}
#directoras h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.fila{
    width: 100%;
    content: "";
    display: table;
    clear: both;
}
.box{
    width: 100%;
    float:left;
    margin-left: 100px;
    max-width: 300px;
    margin-right: 100px;
    position: relative;
}
.box img{
  border-radius: 50%;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }
  .box:hover .overlay {
    opacity: 1;
  }

  /*SECCION INSCRIPCION*/ 

.d-grid button{
    background-color: rgb(126, 170, 208);
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 2%;
    margin-right: 2%;
    height: 40px;
    color: white;
    border: none;
    width: 96%;
    font-family: 'Times New Roman', Times, serif;
    
}
.d-grid{
    background-color: azure;
    text-align: center;
}
button:hover,
a:hover {
  opacity: 0.7;
}
.d-grid button{
    font-size: 20px;
}

/*SECCION FOOTER*/

footer {
    background-color:black;
    bottom: 0px;
    color: white;
    position: relative;
  }
  
  footer h1 {
    margin-left: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  footer p {
    margin-left:20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
  .columna2{
    float:left;
    margin-left: 10px;
  }
  .contacto img {
    width: 3%;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .ubicacion iframe{
    margin-left: 15px;
    margin-bottom: 15px;
  }