body { padding-top: 60px; }
head title{
  font-family: 'Times New Roman', Times, serif;
}
.titulo h1{
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*SECCION NAVBAR*/
.navbar {
    background-color: rgb(126, 170, 208);
    height: 60px;
    overflow: hidden;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1 !important;
  }
  
  .navbar a {
    color: rgb(8, 5, 0);
    display: block;
    float: left;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .navbar a:hover {
    color: rgb(14, 43, 55);
    text-decoration: none;
  }
  
.navbar h2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
   
}
.navbar h3{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h4{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h5{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h6{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.navbar h7{ 
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
/*SECCION IMAGEN PRINCIPL*/
.container {
  position:relative;
  width: 100%;
}
.container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #c3d5db;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/* SECCION CLASES*/

#clases {
  background-color: azure;
  height:650px;
  width: 100%;
}

#clases h3 {
  color: rgb(8, 5, 0) ;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:white;
  float:left;
  margin-left: 160px;
  max-width: 300px;
  text-align: center;
  width: 100%;
}

button {
  background-color: rgb(79, 79, 80);
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}

a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

button:hover,
a:hover {
  opacity: 0.7;
}



/*SECCION FOOTER*/

footer {
  background-color:black;
  bottom: 0px;
  color: white;
  position: relative;
}

footer h1 {
  margin-left: 10px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}


footer p {
  margin-left:20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.columna2{
  float:left;
  margin-left: 10px;
}
.contacto img {
  width: 3%;
  margin-left: 10px;
  margin-bottom: 20px;
}
.ubicacion iframe{
  margin-left: 15px;
  margin-bottom: 15px;
}


